{% load static %}
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+1 (514) 984 4773
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							order.freshBread911@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							50-54 Penrith St, Kanata, ON, Canada
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
<footer class="footer-area bg-f">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <h3>About Us</h3>
        <p>I srart to work on 2020. I have been making a lot of cakes and foods. In that time I was in University and doing some works about it and becuase of that I didn't have alot of time for making foods. So I could make some cake and foods for myself. Becuase of that I learnd How to cook. Then I gratued from university and I have more time to Make Foods and Cakes.</p>
        <p>Finally I'm here to make some foods and sell it to you with the Best price!</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Opening hours</h3>
        <p><span class="text-color">Monday: </span> 8:Am - 8:PM</p>
        <p><span class="text-color">Tuesday :</span> 8:Am - 8:PM</p>
        <p><span class="text-color">Wednesday :</span> 8:Am - 8:PM</p>
        <p><span class="text-color">Friday :</span>Closed</p>
        <p><span class="text-color">Saturday :</span> Closed</p>
        <p><span class="text-color">Sunday :</span> 8:AM - 5:PM</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Contact information</h3>
        <p class="lead"><a href="https://maps.app.goo.gl/hHe9y7EuLpefrsAK7">68 McBrien St, Kanata, ON K2W 1H1، ON, Canada</a></p>
        <p class="lead"><a href="tel:+1(514)984-4773">+1 (514) 984 4773</a></p>
        <p><a href="mailto:order.freshBread911@gmail.com"> order.freshBread911@gmail.com</a></p>
      </div>
      <div class="col-lg-3 col-md-6">
        <h3>Social media</h3>
        <div class="subscribe_form">
          <form class="subscribe_form"><div class="clearfix"></div></form>
        </div>
        <ul class="list-inline f-social">
  <li class="list-inline-item">
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  </li>

  <li class="list-inline-item">
    <a href="https://www.instagram.com/freshbread911/">
      <i class="fa-brands fa-instagram"></i>
    </a>
  </li>
</ul>

      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p class="company-name">
  All Rights Reserved. &copy;2025 
  <a href="#">Fresh Bread Bakery</a> | Beta v 0.5.0 | Designed with ❤️
</p>

        </div>
      </div>
    </div>
  </div>
</footer>
<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>