{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">   
   
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
     <!-- Site Metas -->
    <title>Our team - Fresh Bread</title>  
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">    
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">    
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<style>
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

.social-icons li {
  line-height: 1;
}

/* دکمه پایه (برای همه) */
.social-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;           /* اندازه دکمه */
  height: 44px;
  font-size: 20px;       /* اندازه آیکون */
  color: #333;
  background-color: #f8f9fa;   /* پس‌زمینه روشن عادی */
  border-radius: 50%;          /* دایره‌ای */
  text-decoration: none;
  transition: all 0.2s ease;
  border: 1px solid #dee2e6;   /* حاشیه نازک */
}

.social-btn:hover {
  background-color: #e9ecef;
  color: #007bff;
  transform: translateY(-2px);  /* کمی بالا بیاد موقع هاور */
}

/* حالت قفل شده – کل دکمه توسی */
.locked .social-btn.disabled-link {
  background-color: #e9ecef !important;   /* پس‌زمینه توسی روشن */
  color: #6c757d !important;              /* آیکون توسی تیره */
  border-color: #ced4da !important;
  cursor: not-allowed;
  opacity: 0.75;                          /* کمی محو برای حس غیرفعال */
  pointer-events: none;                   /* کلیک کامل غیرفعال */
}

/* موقع هاور هم تغییری نده */
.locked .social-btn.disabled-link:hover {
  background-color: #e9ecef !important;
  color: #6c757d !important;
  transform: none;
  opacity: 0.75;
}

</style>
<body>
{% include 'freshbread/header.html' %}


<!-- Start header -->


	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Stuff</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Stuff -->
	<div class="stuff-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Stuff</h2>
						<p>Our team try for your enjoy!</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<img src="{% static 'images/stuff-img1.png' %}">
						<div class="team-content">
							<h3 class="title">Mina Kazemi</h3>
							<span class="post">Chef & Admin</span>
							<ul class="social">
								<li><a href="mailto:kazemimina55@gmail.com" title="Mail Asad"><i class="fab fa-google"></i></a></li>
  <!-- قفل شده -->
  								<li class="locked">
    								<a 
    								  href="#" 
    								  class="social-btn disabled-link"
    								  title="This Stuff doesn't have this platform's account"
    								>
    								  <i class="fab fa-twitter"></i>
    								</a>
  								</li>

								  <li class="locked">
								    <a 
								      href="#" 
								      class="social-btn disabled-link"
								      title="This Stuff doesn't have this platform's account">
								      <i class="fab fa-facebook-f"></i>
								    </a>
								  </li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<img src="{% static 'images/DE.jpg' %}">
						<div class="team-content">
							<h3 class="title">Mahdi yarahmadi</h3>
							<span class="post">Web Designer & Developer</span>
							<ul class="social">
								<li><a href="mailto:programing.mahdi@gmail.com" title="Mail Mahdi"><i class="fab fa-google"></i></a></li>
  <!-- قفل شده -->
  								<li class="locked">
    								<a 
    								  href="#" 
    								  class="social-btn disabled-link"
    								  title="This Stuff doesn't have this platform's account"
    								>
    								  <i class="fab fa-twitter"></i>
    								</a>
  								</li>

								  <li class="locked">
								    <a 
								      href="#" 
								      class="social-btn disabled-link"
								      title="This Stuff doesn't have this platform's account">
								      <i class="fab fa-facebook-f"></i>
								    </a>
								  </li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<img src="{% static 'images/stuff-img2.png' %}">
						<div class="team-content">
							<h3 class="title">Asad yarahmadi</h3>
							<span class="post">Admin & Developer & Chef's helper</span>
							<ul class="social">
								<li><a href="mailto:asad.yarahmadi@gmail.com" title="Mail Asad"><i class="fab fa-google"></i></a></li>
  <!-- قفل شده -->
  								<li class="locked">
    								<a 
    								  href="#" 
    								  class="social-btn disabled-link"
    								  title="This Stuff doesn't have this platform's account"
    								>
    								  <i class="fab fa-twitter"></i>
    								</a>
  								</li>

								  <li class="locked">
								    <a 
								      href="#" 
								      class="social-btn disabled-link"
								      title="This Stuff doesn't have this platform's account">
								      <i class="fab fa-facebook-f"></i>
								    </a>
								  </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Stuff -->
	
	<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Customer Reviews</h2>
						<p>You can know Reviews from our Customers(you can add too!)</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/profile-1.jpg' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
								<h6 class="text-dark m-0">Web Developer</h6>
								<p class="m-0 pt-3">It has a lot of delicious food. It also has a very strong website designer. Overall, thank you.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/profile-3.jpg' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
								<h6 class="text-dark m-0">Web Designer</h6>
								<p class="m-0 pt-3">It has good food and user interface. Thanks.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/profile-7.jpg' %}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel vebar</strong></h5>
								<h6 class="text-dark m-0">Seo Analyst</h6>
								<p class="m-0 pt-3">Good and tasty food and fast foods. I think in Otawwa and Knanta its the best Fast food and bakery here.</p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->
	
	<!-- Start Contact info -->

	<!-- End Contact info -->
	
	<!-- Start Footer -->
{% include 'freshbread/footer.html' %}
	<!-- End Footer -->

	
	<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

	<!-- ALL JS FILES -->
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- ALL PLUGINS -->
	<script src="{% static 'js/jquery.superslides.min.js' %}"></script>
	<script src="{% static 'js/images-loded.min.js' %}"></script>
	<script src="{% static 'js/isotope.min.js' %}"></script>
	<script src="{% static 'js/baguetteBox.min.js' %}"></script>
	<script src="{% static 'js/form-validator.min.js' %}"></script>
    <script src="{% static 'js/contact-form-script.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
</body>
</html>